# General
.DS_Store
.env
.flaskenv
*.log
.vscode/

# Python / Flask specific
__pycache__/
*.pyc
*.pyo
.Python/
venv/
env/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.ipynb_checkpoints/
*.egg-info/
build/
dist/

# Node.js / Angular specific
node_modules/
dist/         
npm-debug.log
yarn-error.log
.angular/      
.idea/        
*.iml         
*.js.map       
*.css.map      

# Operating System specific
.Trashes
Thumbs.db